/* 清边距 */

* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

li .price {
    text-decoration: none;
    color: red;
    text-align: center;
}

li:hover {
    cursor: pointer;
}


/* 大广告图 */

#bigPicture {
    width: 1920px;
    height: 90px;
}


/* 捷径栏 */

#shortcut {
    width: 100%;
    height: 36px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shortcut .includeUl {
    width: 1200px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    color: white;
}

#shortcut .includeUl ul {
    display: flex;
    line-height: 36px;
}

#shortcut .includeUl ul li {
    border-right: 1px solid #afafaf;
}

#shortcut .includeUl ul:nth-child(2) li:nth-child(7) {
    background-color: #ccc;
}


/*  头部  */

#header {
    width: 1200px;
    height: 40px;
    margin: 18px 0 15px 0;
}

#header img:nth-child(1) {
    width: 205px;
    height: 36px;
}

#header img:nth-child(2) {
    width: 74px;
    height: 24px;
    margin: 8px 0 8px 24px;
}

#header img:nth-child(3) {
    width: 74px;
    height: 24px;
    margin: 8px 0 8px 24px;
}

#header img {
    float: left;
}

#header ul li {
    float: left;
    line-height: 40px;
    margin-left: 24px;
}

#header input {
    width: 238px;
    height: 28px;
    border-radius: 14px;
    float: right;
    text-align: center;
    margin-top: 4px;
}

#header span {
    position: relative;
    left: 484px;
    top: 8px;
}


/* 导航栏 */

#nav {
    width: 1920px;
    height: 550px;
}


/* 幻灯片效果 */

.banner {
    width: 1920px;
    height: 550px;
    position: relative;
}

.banner ul li {
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}

.banner ul li:nth-child(1) {
    opacity: 1;
    z-index: 3;
}


/* 小圆圈 */

.banner ol {
    position: absolute;
    width: 240px;
    height: 20px;
    right: 350px;
    bottom: 55px;
    z-index: 10;
}

.banner ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid black;
    text-indent: -99999px;
    cursor: pointer;
}

.banner ol li.active {
    background: #afafaf;
}


/* 左右箭头 */

#right,
#left {
    font-size: 50px;
    color: white;
    font-family: verdana;
    position: absolute;
    text-decoration: none;
    top: 200px;
    z-index: 10;
}

#left {
    left: 608px;
}

#right {
    right: 420px;
}

#right:hover,
#left:hover {
    color: #000;
}


/* 一级菜单 */

.menu ul {
    width: 200px;
    height: 440px;
    position: relative;
    bottom: 530px;
    left: 360px;
    z-index: 10;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.menu ul li {
    width: 100%;
    height: 10%;
    line-height: 44px;
    text-indent: 10px;
}

.menu ul li:hover {
    background-color: white;
}

.menu ul li span {
    position: absolute;
    left: 170px;
}


/* 二级菜单 */

.cartlist .item {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #f9f9f9;
    position: relative;
    bottom: 970px;
    left: 560px;
    z-index: 10;
    display: none;
    background-color: white;
}

.cartlist .item:nth-child(2) {
    width: 600px;
    height: 400px;
}

.cartlist .item li {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    float: left;
    line-height: 88px;
}

.cartlist .item p {
    text-indent: 120px;
}

.cartlist .item li:hover {
    background-color: #eee;
}


/* 登录栏 */

#register {
    width: 1200px;
    height: 88px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -44px;
    z-index: 10;
    display: flex;
}


/* 登录栏左侧 */

#register .register-l {
    width: 270px;
    height: 52px;
    margin: 18px 0;
    padding-left: 26px;
    border-right: 1px solid #eee;
}

#register .register-l img {
    width: 52px;
    height: 52px;
    display: inline-block;
}

#register .register-l span {
    display: flex;
    position: relative;
    left: 86px;
    bottom: 53px;
}

#register .register-l a {
    text-decoration: none;
    margin-right: 5px;
}


/* 登录栏中间 */

#register .register-m {
    width: 660px;
    height: 64px;
    margin: 12px 0;
    border-right: 1px solid #eee;
}

#register .register-m ul {
    width: 660px;
    height: 64px;
    display: flex;
}

#register .register-m div {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register .register-m li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -18px -13px;
}

#register ul div:nth-child(2) li {
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -96px -19px;
}

#register ul div:nth-child(3) li {
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -178px -19px;
}

#register ul div:nth-child(4) li {
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -232px -19px;
}

#register ul div:nth-child(5) li {
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -268px -19px;
}

#register ul div:nth-child(6) li {
    background: url(../img/45b4038a97ae51a9200b6f56fa9766cf.png) no-repeat -336px -19px;
}


/* 登录栏右侧 */

#register .register-r {
    width: 268px;
    height: 100%;
}

#register .register-r span {
    display: inline-block;
    width: 100%;
    height: 50%;
}

#register .register-r span:nth-child(1) {
    line-height: 44px;
    text-indent: 25px;
}


/* 新品栏 */

#newProduct {
    width: 1200px;
    height: 200px;
}

#newProduct ul li {
    width: 290px;
    height: 200px;
    float: left;
    margin-right: 13px;
}

#newProduct ul li img {
    width: 290px;
    height: 200px;
    display: inline-block;
}

#newProduct ul li:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
}

#newProduct ul li:nth-child(4) {
    margin-right: 1px;
}


/* 热销单品 */

.h {
    width: 1200px;
    height: 25.5px;
    padding: 27px 0 13px 0;
}

#hotSale {
    width: 1200px;
    height: 604px;
    display: flex;
}

#hotSale .hotSale-l {
    width: 232px;
    height: 604px;
}

#hotSale .hotSale-l img {
    width: 232px;
    height: 604px;
    display: inline-block;
}

#hotSale .hotSale-r {
    width: 968px;
    height: 604px;
}

#hotSale .hotSale-r li {
    width: 230px;
    height: 290px;
    margin-left: 12px;
    float: right;
    background-color: #f9f9f9;
}

#hotSale .hotSale-r li:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
}

#hotSale .hotSale-r li:nth-child(5) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(6) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(7) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(8) {
    margin-top: 24px;
}


/* 精品推荐 */

#boutique {
    width: 1200px;
    height: 311px;
    border: 1px solid black;
}

#boutique li {
    width: 230px;
    height: 290px;
    margin-left: 10px;
    float: left;
    background-color: #f9f9f9;
}


/* 小轮播图 */

#smallLunbo {
    width: 1200px;
    height: 120px;
    margin: 30px 0;
}

.bannerSmall {
    width: 1200px;
    height: 120px;
    position: relative;
}

.bannerSmall ul li {
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}

.bannerSmall ul li:nth-child(1) {
    opacity: 1;
    z-index: 3;
}


/* 小圆圈 */

.bannerSmall ol {
    position: absolute;
    width: 240px;
    height: 20px;
    right: -100px;
    bottom: 0px;
    z-index: 10;
}

.bannerSmall ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid black;
    text-indent: -99999px;
    cursor: pointer;
}

.bannerSmall ol li.active {
    background: #afafaf;
}


/* 手机 */

#lable {
    width: 1200px;
    height: 32px;
    margin: 20px 0;
}

#lable .h2 {
    width: 1200px;
    height: 32px;
}

#lable .h2 h2 {
    float: left;
}

#lable .h2 ul {
    width: 950px;
    margin-left: 140px;
    line-height: 32px;
}

#lable .h2 ul li {
    float: left;
    width: 12.5%;
}

#lable .h2 span {
    float: right;
    line-height: 32px;
}

#phone {
    width: 1210px;
    height: 1208px;
}

#phone ul li {
    width: 230px;
    height: 290px;
    float: left;
    margin: 0 0 12px 12px;
    background-color: #f9f9f9;
}


/* 笔记本电脑 */

#notebook {
    width: 1210px;
    height: 604px;
}

#notebook ul li {
    width: 230px;
    height: 290px;
    float: left;
    margin: 0 0 12px 12px;
    background-color: #f9f9f9;
}


/* 精品平板 */

#slab {
    width: 1210px;
    height: 906px;
}

#slab ul li {
    width: 230px;
    height: 290px;
    float: left;
    margin: 0 0 12px 12px;
    background-color: #f9f9f9;
}


/* 智能穿戴 */

#smartWear {
    width: 1210px;
    height: 604px;
}

#smartWear ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #f9f9f9;
    margin: 0 0 12px 12px;
}

#smartWear ul li:nth-child(4) {
    margin-left: 0;
}

#smartWear .smartWear-l {
    width: 472px;
    height: 290px;
    float: left;
}

#smartWear .smartWear-l img {
    width: 472px;
    height: 290px;
    display: inline-block;
}


/* 智慧屏 */


/* 智能家居 */


/* 热销配件 */


/* 生态精品 */


/* 精品配件 */


/* 楼梯效果 */


/* 右侧楼梯 */

#loutinav {
    position: fixed;
    top: 280px;
    right: 0px;
}

#loutinav ul li {
    width: 70px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    color: gray;
}

#loutinav ul li.active span {
    border-right: 1px solid brown;
    color: black;
}

#loutinav ul li:hover span {
    color: black;
}


/* 底部 */

#footer {
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 底部上面 */

#footer .footer-t {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-t ul {
    width: 1200px;
    height: 80px;
    margin: 20px 0;
}

#footer .footer-t ul li {
    width: 25%;
    float: left;
    font-size: 28px;
}


/* 底部中间 */

#footer .footer-c {
    width: 1200px;
    height: 160px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 23px 0;
}

#footer .footer-cl {
    width: 900px;
    height: 160px;
    float: left;
    border-right: 1px solid #ccc;
}

#footer .footer-cl ul {
    width: 150px;
    float: left;
}

#footer .footer-cr {
    width: 298px;
    height: 160px;
    float: right;
}

#footer .footer-cr div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-cr div:nth-child(1) {
    font-size: 30px;
}

#footer .footer-cr input {
    width: 200px;
    height: 28px;
    border-radius: 14px;
    float: right;
    text-align: center;
    background-color: black;
}


/* 底部下面 */

#footer .footer-b {
    width: 1200px;
    height: 60px;
    margin: 30px 0;
    display: flex;
}

#footer .footer-b img {
    width: 82px;
    height: 20px;
}

#footer .footer-b div:nth-child(1) {
    width: 100px;
    height: 100%;
}

#footer .footer-b div:nth-child(2) {
    width: 1100px;
    height: 100%;
}

#footer .footer-b ul {
    width: 760px;
    height: 20px;
}

#footer .footer-b ul li {
    border-right: 1px solid #afafaf;
    float: left;
    padding: 0 3px;
}

#footer .footer-b p {
    float: left;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
}