/* 清边距 */

* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}


/* 大广告图 */

#bigPicture {
    width: 1920px;
    height: 90px;
}


/* 捷径栏 */

#shortcut {
    width: 100%;
    height: 36px;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shortcut .includeUl {
    width: 1200px;
    height: 36px;
    display: flex;
    background: black;
    justify-content: space-between;
    color: white;
}

#shortcut .includeUl ul {
    display: flex;
    line-height: 36px;
}

#shortcut .includeUl ul li {
    border-right: 1px solid #ccc;
}


/*  头部  */

#header {
    width: 1200px;
    height: 40px;
    margin: 18px 0 15px 0;
}

#header img:nth-child(1) {
    width: 205px;
    height: 36px;
}

#header img:nth-child(2) {
    width: 74px;
    height: 24px;
    margin: 8px 0 8px 24px;
}

#header img:nth-child(3) {
    width: 74px;
    height: 24px;
    margin: 8px 0 8px 24px;
}

#header img {
    float: left;
}

#header ul li {
    float: left;
    line-height: 40px;
    margin-left: 24px;
}

#header input {
    width: 238px;
    height: 28px;
    border-radius: 14px;
    float: right;
    background-color: #eee;
    text-align: center;
    margin-top: 4px;
}


/* 导航 */

#nav {
    width: 100%;
    height: 550px;
    border: 1px solid black;
    position: relative;
}

#nav ul {
    width: 200px;
    height: 440px;
    position: absolute;
    top: 10px;
    left: 108px;
}

#nav ul li {
    width: 100%;
    height: 10%;
    line-height: 44px;
}


/* 登录栏 */

#register {
    width: 1200px;
    height: 88px;
    border: 1px solid black;
    position: relative;
    top: -44px;
}


/* 新品栏 */

#newProduct {
    width: 1200px;
    height: 200px;
}

#newProduct ul li {
    width: 290px;
    height: 200px;
    background-color: #eee;
    float: left;
    margin-right: 13px;
}

#newProduct ul li:nth-child(4) {
    margin-right: 1px;
}


/* 热销单品 */

.h {
    width: 1200px;
    height: 25.5px;
    padding: 27px 0 13px 0;
}

#hotSale {
    width: 1200px;
    height: 604px;
    display: flex;
}

#hotSale .hotSale-l {
    width: 232px;
    height: 604px;
    background-color: #eee;
}

#hotSale .hotSale-r {
    width: 968px;
    height: 604px;
}

#hotSale .hotSale-r li {
    width: 230px;
    height: 290px;
    margin-left: 12px;
    background-color: #eee;
    float: right;
}

#hotSale .hotSale-r li:nth-child(5) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(6) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(7) {
    margin-top: 24px;
}

#hotSale .hotSale-r li:nth-child(8) {
    margin-top: 24px;
}


/* 精品推荐 */

#boutique {
    width: 1200px;
    height: 311px;
    border: 1px solid black;
}


/* 小轮播图 */

#smallLunbo {
    width: 1200px;
    height: 120px;
    border: 1px solid black;
    margin: 30px 0;
}


/* 手机 */

#lable {
    width: 1200px;
    height: 32px;
    margin: 20px 0;
}

#lable .h2 {
    width: 1200px;
    height: 32px;
}

#lable .h2 h2 {
    float: left;
}

#lable .h2 ul {
    width: 950px;
    margin-left: 140px;
    line-height: 32px;
}

#lable .h2 ul li {
    float: left;
    width: 12.5%;
}

#lable .h2 span {
    float: right;
    line-height: 32px;
}

#phone {
    width: 1210px;
    height: 1208px;
}

#phone ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 笔记本电脑 */

#notebook {
    width: 1210px;
    height: 604px;
}

#notebook ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 精品平板 */

#slab {
    width: 1210px;
    height: 906px;
}

#slab ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 智能穿戴 */

#smartWear {
    width: 1210px;
    height: 604px;
}

#smartWear ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 智能穿戴切换 */

#smartWear_tab {
    width: 1210px;
    height: 240px;
    background-color: #eee;
}


/* 智慧屏 */

#wisdom {
    width: 1210px;
    height: 604px;
}

#wisdom ul li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 智能家居 */

#smartHome {
    width: 1210px;
    height: 604px;
}

#smartHome li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 热销配件 */

#hotParts {
    width: 1210px;
    height: 604px;
}

#hotParts li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 生态精品 */

#zoology {
    width: 1210px;
    height: 604px;
}

#zoology li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 精品配件 */

#boutiqueParts {
    width: 1210px;
    height: 604px;
}

#boutiqueParts li {
    width: 230px;
    height: 290px;
    float: left;
    background-color: #eee;
    margin: 0 0 12px 12px;
}


/* 底部 */

#footer {
    width: 100%;
    height: 604px;
    background-color: #eee;
}